<footer>
    <div>
        <p>All rights reserved <%= new Date().getFullYear() %>
        </p>
    </div>
    <div>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/">Search</a></li>
            <li><a href="/">Reach</a></li>
        </ul>
    </div>
</footer>



</body>

</html>