<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B-TV</title>
</head>

<body>
    <header>
        <nav>
            <a href="/home"><img src="/images/BTV-Logo.png" alt=""></a>
            <ul>
                <li><a href="/">Landing</a></li>
                <li><a href="/search"></a>Search</li>
                <li><a href="/movies"></a>Movies</li>
                <li><a href="/television"></a>Television</li>
            </ul>
            <button>Die</button>
        </nav>
    </header>