<%- include("partials/header.ejs") %>


    <div>
        <section>
            <input type="text" placeholder="Search">
        </section>

        <div>
            <div>
                <div>
                    <h1>Recommended</h1>
                    <ul>
                        <li><a href="">Day</a></li>
                        <li><a href="">Week</a></li>
                        <li><a href="">Month</a></li>
                    </ul>
                </div>

                <div>
                    <ul class="content-container">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <%- include("partials/footer.ejs") %>