<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="landing-container">
        <h1>This is landing page</h1>
        <div class="top-container">
            <h1>BTV - #1 Streaming Site in the Philippines</h1>
            <div>
                <img src="/images/Billie.gif" alt="">
            </div>
        </div>
        <div class="landing-search-container">
            <input type="text" placeholder="Search"> <button> <img src="/images/icons8-search-50.png" alt=""></button>

            <button onclick="redirect()">Go to home</button>

        </div>
        <div class="about-container">
            <h1>Some title over here</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere quo incidunt veniam, sed nostrum
                vitae tempora explicabo optio tenetur blanditiis obcaecati vero reiciendis magni ut. Dolorem, nihil!
                Minima, eos! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed dolorum accusamus, aspernatur
                voluptatibus, nulla corporis iste, reiciendis sapiente error asperiores itaque at dolor? Optio fugit,
                eveniet natus impedit reprehenderit assumenda.</p>
        </div>
    </div>

    <script>
        function redirect() {
            window.location.href = `/home?page=1&limit=50`
        }
    </script>
</body>


</html></i>