/* General style */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  min-height: 100vh;
}

/* Header Style */
header {
  width: 100%;
  height: 10%;
  background-color: #3c3744;
}

/* Navigation list */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > a > img {
  height: 50px;
  margin-left: 2rem;
}

.header-nav {
  display: flex;
  padding: 0;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
}

li {
  padding: 0;
  margin: 0;
}

.header-nav > li > a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

.header-nav :hover {
  color: green;
}

/* Navigation button */
.mema-button {
  margin-right: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #a7adbb;
  border: none;
}

.mema-button:hover {
  background-color: #f6f6f6;
  color: black;
}

/* Foooter Style */
footer {
  background-color: #3c3744;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}

/* Footer NAV style */
.footer-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.footer-nav-container :hover {
  color: blue;
}

.footer-nav-container > ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;

  padding: 0 1rem;
}

.footer-nav-container > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

/* Footer Rights Container Style */
.rights-container {
}

.rights-container > p {
  margin-top: 0;
  padding: 0;
}

/* Home CSS */
.home-container {
  background-color: #504b5c;
  display: flex;
  justify-content: center;
}

.home-content-container {
  margin-top: 2rem;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.filter-by-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-by-container > ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.filter-by-container > ul > li > a {
  text-decoration: none;
  color: #f6f6f6;
}

.filter-by-container :hover {
  background-color: #f6f6f6;
}

.pagination-container > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  justify-content: center;
}

.pagination-container > ul > li {
  padding: 0;
}
.pagination-container > ul > li > button {
  padding: 0.5rem;
}

/* Section Search Css */

section {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  width: 10rem;
}

.submit-search-btn {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #a7adbb;
}

.submit-search-btn:hover {
  background-color: #f6f6f6;
}

/* HOME Movie Container */

.movie-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  row-gap: 3rem;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 2rem;
}

.movie-item {
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  color: #f6f6f6;
}

#movie-img {
  border-radius: 0.5rem;
}

.movie-item > a {
  text-decoration: none;
  color: #f6f6f6;
}
.movie-item:hover {
  box-shadow: 0 0 11px #232128;
}

#movie-title {
  padding: 0;
  margin: 0;
}

/* FILTER CSS */
.filter-container {
  background-color: #504b5c;
  display: flex;
  justify-content: center;
  min-height: 81vh;
  color: #f6f6f6;
}

.filter-content-container {
  margin-top: 2rem;
}

/* Detail Css */
main {
  width: 100%;
  background-color: #504b5c;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* TOP CONTAINER CSS */
.top-detail-container {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  /* justify-content: space-between; */
}
/* POSTER CSS */
.poster-container {
  height: 600px;
}

.poster-container > img {
  border-radius: 1rem;
  height: 100%;
}
/* EPISODE CONTAINER */

.episodes-container {
  width: 30%;
  background-color: #9289a8;
  border-radius: 1rem;
  height: 600px;
}

/* BOTTOM CONTAINER CSS */
.bottom-detail-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.movie-details-container {
  width: 70%;
  background-color: #9289a8;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.movie-details-container > img {
  width: 250px;
}

.full-detail-container > h1 {
  margin: 0;
  padding: 0;
}

.tamimi {
}
